scikit-learn
xgboost
imbalanced-learn
joblib
matplotlib
fsspec
gcsfs  # dependencia de fsspec para GCS
fastapi
uvicorn
pydantic
Flask
google-cloud-storage
numpy==1.24.4
pandas==1.5.3
python-dotenv
streamlit
plotly
requests
openai  # Asegúrate de que esta línea esté presente
