fastapi
Flask
fsspec
gcsfs
google-cloud-storage
imbalanced-learn
joblib
matplotlib
numpy>=1.25
pandas>=1.5.3,<2.1
pandasai==2.3.2
pydantic
scikit-learn
uvicorn
xgboost
plotly
scipy
tqdm
requests
openai
python-dotenv
